{# this is the template for y to c calculations #}

!$omp target teams distribute parallel do 
do i = 1, veclen
{% for sp_idx in range(chem["nspecies"]) %}
    C(i,{{sp_idx+1}}) = Y(i,{{sp_idx+1}}) {% if input_MW %}/ MW({{sp_idx+1}}) {% else %}/ {{"%.15e"|format(chem["mw"][sp_idx])|replace("e","D")}} {% endif %}
{% endfor %}

    ctot(i) = 0.0D0
    do L = 1, {{chem["nspecies"]}}
        ctot(i) = ctot(i) + C(i,L)
    end do
    do L = 1, {{chem["nspecies"]}}
        C(i,L) = C(i,L) * P(i) / (R0 * ctot(i) * T(i))
    end do

{% if chem["has_third_body_reactions"] or chem["has_troe_reactions"] %}
    ctot(i) = 0.0D0
    do L = 1, {{chem["nspecies"]}}
        ctot(i) = ctot(i) + C(i,L)
    end do
{% endif %}
enddo
!$omp end target teams distribute parallel do
