{# This is the template for Troe reaction type #}

{% set A, beta, Ea = reaction["arh"] %}
{% set A0, beta0, Ea0 = reaction["troe"]["low"] %}
{% set troe_params = reaction["troe"]["troe"] %}
{% set a, T3, T1 = troe_params[:3] %}
{% set T2 = troe_params[3] if troe_params|length == 4 else None %}

{# Calculate M (third body concentration) #}
M = ctot {% if reaction["third_body"]|length > 0 %} &{% endif %}
{% for sp, eff in reaction.get("third_body", {}).items() %}
    {% if eff > 0.0 %}
    + {{ "%.15e"|format(abs(eff))|replace("e","D") }}*C(:,{{ stoi_rd[sp]+1 }}) {% if not loop.last %}&{%endif%}
    {% else %}
    - {{ "%.15e"|format(abs(eff))|replace("e","D") }}*C(:,{{ stoi_rd[sp]+1 }}) {% if not loop.last %}&{%endif%}
    {% endif %}
{% endfor %}

{# Calculate k0 (low-pressure limit rate constant) #}
k0 = {{ "%.15e"|format(A0)|replace("e","D") }} {% if beta0 != 0.0 %}* (T**({{ beta0|e }})) {% endif %} * exp({{ "%.15e"|format(-1.0 * Ea0)|replace("e","D") }}/(Rc*T))

{# Calculate kinf (high-pressure limit rate constant) #}
kinf = {{ "%.15e"|format(A)|replace("e","D") }} {% if beta != 0.0 %}* (T**({{ beta|e }})) {% endif %} * exp({{ "%.15e"|format(-1.0 * Ea)|replace("e","D") }}/(Rc*T))

{# Calculate Pr (reduced pressure) #}
Pr = (k0 * M) / kinf

{# Calculate Fcent (center broadening factor) #}
Fcent = {{ "%.15e"|format(1.0 - a)|replace("e","D") }} * exp(-T/{{ "%.15e"|format(T3)|replace("e","D") }}) + &
        {{ "%.15e"|format(a)|replace("e","D") }} * exp(-T/{{ "%.15e"|format(T1)|replace("e","D") }}) {% if T2 %}+ exp({{ "%.15e"|format(-T2)|replace("e","D") }}/T){% endif %}

{# Calculate F (broadening factor) #}
C1 = -0.4D0 - 0.67D0 * log10(Fcent)
N = 0.75D0 - 1.27D0 * log10(Fcent)
f1 = (log10(Pr) + C1) / (N - 0.14D0 * (log10(Pr) + C1))
F = 10.0D0 ** (log10(Fcent) / (1.0D0 + f1**2))

{# Calculate kf (forward rate constant) #}
kf = kinf * (Pr / (1.0D0 + Pr)) * F

{% if reaction['reversible'] %}
kb = kf{% for sp, coeff in reaction["reacts"].items() %} * EG(:,{{stoi[sp]+1}}){% if coeff != 1.0 %}**{{coeff}}{% endif %}{% endfor %}{% for sp, coeff in reaction["prods"].items() %} / EG(:,{{stoi[sp]+1}}){% if coeff != 1.0 %}**({{coeff}}){% endif %} {% endfor %} {% if coeff_sum != 0.0 %} / pfac**({{ coeff_sum }}) {% endif %}
{% else %}
kb = 0.0D0
{% endif %}

{# Calculate reaction rate #}
rr = kf {% for sp, coeff in reaction["reacts"].items() %}* C(:,{{stoi_rd[sp]+1}}){% if coeff != 1.0 %}**{{coeff}}{% endif %} {% endfor %} - kb {% for sp, coeff in reaction["prods"].items() %}* C(:,{{stoi_rd[sp]+1}}){% if coeff != 1.0 %}**{{coeff}}{% endif %} {% endfor %}

{% for sp, coef in reaction["reacts"].items() %}
wdot(:,{{stoi_rd[sp]+1}}) = wdot(:,{{stoi_rd[sp]+1}}) - rr {% if coef != 1.0 %} * {{coef}} {% endif %}
{% endfor %}

{% for sp, coef in reaction["prods"].items() %}
wdot(:,{{stoi_rd[sp]+1}}) = wdot(:,{{stoi_rd[sp]+1}}) + rr {% if coef != 1.0 %} * {{coef}} {% endif %}
{% endfor %}
